<!DOCTYPE html>
<html lang="nl-NL">

<head>

    <!-- META DATA -->
    <meta name="description" content="Hoe overleef ik het zwarte gat?" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noindex">

    <!-- DISPLAY ALL CHARACTER SYMBOLS -->
    <meta charset="utf-8" />

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:200,300,400,500,600,700,800,900|Berkshire+Swash|Crimson+Text:400,600,700"
        rel="stylesheet">

    <!-- TITLE -->
    <title>{{page.title}}</title>

</head>

<body>

    {{ content }}

    <!-- JAVASCRIPT -->
    <script src="/assets/js/tk305.min.js"></script>

</body>

</html>